.projects {
	background-color: #343A40;
	display: flex;
	font-family: 'Spartan', sans-serif;
	color: #E1E5EA;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;

}

.project-details {
	display: flex;
	flex-direction: column;
	width: 100%;
	align-items: center;
	transition: all 0.5s;
}

.project-details h1 {
	transition: all 0.5s;
}

.project-details h1:hover {
	letter-spacing: 3px;
}
.project-cards {
	display: flex;
	flex-direction: column;
	width: 100%;
	justify-content: center;
	align-items: center;
}

.cards-row {
	display: flex;
	flex-direction: row;
	width: 70%;
	justify-content: space-evenly;
	padding-top: 4vh;
	padding-bottom: 6vh;
}

.project-card {
	transition: all 1s;
	overflow: visible;
	width: 40%;
	border-radius: 15px;
	overflow: visible;
	box-shadow: 10px 10px 20px #24292d,
	-10px -10px 20px #444b53;
	transition: all 0.5s;
}

.project-card a {
	text-decoration: none;

}

.project-card img {
	width: 100%;
	height: 35vh;
	border-radius: 15px 15px 0 0;
	overflow: visible;
}

.project-card h3 {
	color: #F5C0C0;
	font-size: 20px;
	letter-spacing: 2px;
	overflow: visible;
	margin: 4%;
}

.project-card li {
	font-size: 16px;
	overflow: visible;
	line-height: 1.4;
	margin: 4%;
	color: #E1E5EA;
}

/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

.projects1 {
	background-color: #343A40;
	display: flex;
	font-family: 'Spartan', sans-serif;
	color: #E1E5EA;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;

}

.project-details1 {
	display: flex;
	flex-direction: column;
	width: 100%;
	align-items: center;
	transition: all 0.5s;
}

.project-details1 h1 {
	/* font-size: 28px; */
	transition: all 0.5s;
}

.project-details1 h1:hover {
	letter-spacing: 3px;
}

.project-cards1 {
	display: flex;
	flex-direction: column;
	width: 100%;
	justify-content: center;
	align-items: center;
}

.cards-row1 {
	display: flex;
	flex-direction: row;
	width: 90%;
	justify-content: space-evenly;
	padding-top: 4vh;
	padding-bottom: 6vh;
}

.project-card1 {
	transition: all 1s;
	overflow: visible;
	width: 40%;
	border-radius: 15px;
	overflow: visible;
	box-shadow: 10px 10px 20px #24292d,
		-10px -10px 20px #444b53;
	transition: all 0.5s;
}

.project-card1 a {
	text-decoration: none;
}

.project-card1 img {
	width: 100%;
	height: 30vh;
	border-radius: 15px 15px 0 0;
	overflow: visible;
}

.project-card1 h3 {
	color: #F5C0C0;
	font-size: 19px;
	letter-spacing: 2px;
	overflow: visible;
	margin: 4%;
}

.project-card1 li {
	font-size: 15px;
	overflow: visible;
	line-height: 1.4;
	margin: 4%;
	color: #E1E5EA;
}

/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

.projects2 {
	background-color: #343A40;
	display: flex;
	font-family: 'Spartan', sans-serif;
	color: #E1E5EA;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.project-details2 {
	display: flex;
	flex-direction: column;
	width: 100%;
	align-items: center;
	transition: all 0.5s;
}

.project-details2 h1 {
	/* font-size: 26px; */
	transition: all 0.5s;
}

.project-details2 h1:hover {
	letter-spacing: 3px;
}

.project-cards2 {
	display: flex;
	flex-direction: column;
	width: 100%;
	justify-content: center;
	align-items: center;
}

.cards-row2 {
	display: flex;
	flex-direction: column;
	width: 90%;
	justify-content: space-evenly;
	padding-top: 4vh;
	padding-bottom: 6vh;
	align-items: center;
}

.project-card2 {
	transition: all 1s;
	overflow: visible;
	width: 80%;
	border-radius: 15px;
	overflow: visible;
	box-shadow: 10px 10px 20px #24292d,
	-10px -10px 20px #444b53;
	transition: all 0.5s;
	margin-bottom: 6vh;
	}

	.project-card2 a {
		text-decoration: none;

}

.project-card2 img {
	width: 100%;
	height: 30vh;
	border-radius: 15px 15px 0 0;
	overflow: visible;
}

.project-card2 h3 {
	color: #F5C0C0;
	font-size: 18px;
	letter-spacing: 2px;
	overflow: visible;
	margin: 4%;
}

.project-card2 li {
	font-size: 14px;
	overflow: visible;
	line-height: 1.4;
	margin: 4%;
	color: #E1E5EA;
}