.skills {
	background-color: #343A40;
	display: flex;
	font-family: 'Spartan', sans-serif;
	color: #E1E5EA;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.skills-details {
	display: flex;
	flex-direction: column;
	width: 70%;
	align-items: center;
	justify-content: space-evenly;
	margin-top: 10vh;
	margin-bottom: 10vh;
}

.skills-details h1 {
	overflow: visible;
	transition: all 0.5s;
}

.skills-details h1:hover {
	letter-spacing: 3px;
}

.skills img {
	width: 7vw;
	height: 7vw;
	margin-top: 2vh;
	margin-bottom: 2vh;
	background-color: #343A40;
	transition: all 0.5s;
}

.skills img:hover {
	transform: scale(1.25);
}

.logos {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	width: 80%;
	height: 75%;
	justify-content: space-around;
	overflow: visible;
	margin-top: 5vh;
	margin-bottom: 5vh;
}

.logos-3 {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	flex: 1;
	align-items: center;
	overflow: visible;
	margin-top: 3vh;
	margin-bottom: 3vh;
}

/* ------------------------------------------------------------------------------ */

.skills2 {
	background-color: #343A40;
	display: flex;
	font-family: 'Spartan', sans-serif;
	color: #E1E5EA;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-bottom: 0.1%;
}

.skills-details2 {
	display: flex;
	flex-direction: column;
	width: 80%;
	/* height: 700px; */
	justify-content: center;
	align-items: center;
	margin-top: 10vh;
	margin-bottom: 10vh;
}

.skills-details2 h1 {
	transition: all 0.5s;
	margin-top: 5vh;
	font-size: 26px;
	overflow: visible;
}

.skills-details2 h1:hover {
	letter-spacing: 1.1px;
}

.skills2 img {
	width: 10vw;
	height: 10vw;
	margin-top: 2vh;
	margin-bottom: 2vh;
	background-color: #343A40;
	transition: all 0.5s;

}

.skills2 img:hover {
	/* width: 12vw;
	height: 12vw;
	margin-top: 0vh;
	margin-bottom: 0vh;
	*/ transform: scale(1.25);
}

.logos2 {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	width: 85%;
	height: 70%;
	justify-content: space-around;
	margin-top: 25px;
	overflow: visible;
	margin-bottom: 5vh;
}

.logos-32 {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	flex: 1;
	align-items: center;
	overflow: visible;
	margin-top: 3vh;
	margin-bottom: 3vh;
}
